* {
  border: 0 solid !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%; // 16px
}

h1,
h2 {
  font-family: "Lato", sans-serif;
  color: #5a5858;
}

h1 {
  margin: 20px 0 0;
  font-size: 4em;
}

h2 {
  margin: 0 0 20px;
  font-size: 1.5em;
}

h3 {
  font-family: "Lato", sans-serif;
  margin: 20px 0 0 20px;
  font-size: 2em;
  color: #bcbbbb;
}

h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 1.8em;
  color: #747704;
  text-align: center;
}

.url {
  font-family: "Lato", sans-serif;
  margin: 0 0 20px;
  font-size: 1em;
  color: #5a5858;
}

.pcenter {
  text-align: center;
}

.bar {
  background: #bcbbbb;
  border: 0;
  height: 3px;
}

.center {
  margin: auto;
  border: 3px solid #8ac007;
  padding: 10px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo-img {
  width: 100%;
  min-width: 70px;
  max-width: 150px;
  margin-top: 15px;
}

.text-right {
  text-align: right;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 1200px;
  /* you can adjust the max size */
  width: 100%;
  /* adjustable width */
  margin: 0 auto;
  /* centers the content */
  padding: 0 15px;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 60%;
  }
  .subphoto {
    width: 100%;
  }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
  body {
    font-size: 80%;
  }
  .url {
    word-wrap: break-word;
  }
  .subphoto {
    width: 33.3%;
  }
}

@media screen and (min-width: 801px) {
  body {
    font-size: 100%;
  }
  .url {
    word-wrap: break-word;
  }
  .subphoto {
    width: 33.3%;
  }
}
